@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900;1000&family=Roboto&display=swap");
body {
  background: linear-gradient(180deg, rgba(36, 0, 255, 0.55) 0%, rgba(255, 0, 184, 0.09) 100%);
  margin: 0;
  height: 100vh;
}

ul {
  list-style-type: none;
}

.navbar1 .container {
  padding: 1em;
  place-content: space-between;
  display: flex;
}
.navbar1 .container .logo {
  color: white;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 2em;
  text-decoration: none;
}
.navbar1 .container .mobile-menu {
  cursor: pointer;
}
.navbar1 nav {
  display: none;
}
.navbar1 .menu-btn {
  display: block;
}

section {
  padding: 0em 1em 0em 1em;
}

.main {
  padding: 0em 2em 0em 2em;
}

#description {
  text-align: left;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 1.6em;
  color: rgba(12, 21, 108, 0.74);
  margin: 0.5em 0em 0em 0em;
}
#description span {
  color: white;
}

#subscribe {
  padding: 1em;
  display: block;
}

.right-col-mobile {
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 0.6em;
  color: #ECECEC;
}

.grid {
  display: grid;
  place-items: center;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.right-col {
  text-align: center;
}
.right-col .subhead-desktop {
  display: none;
}
.right-col .fields {
  display: block;
  width: 100%;
  box-sizing: boder-box;
  margin-bottom: 1em;
  margin-top: 1em;
}
.right-col .fields .email {
  background-color: #979BFC;
  outline: none;
  border: none;
}
.right-col .fields .submitForm {
  background-color: #010675;
  color: white;
  font-family: "Roboto";
  font-weight: 700;
  outline: none;
  border: none;
}

.right-col-desktop {
  display: none;
  text-align: center;
  font-family: "Nunito";
  font-weight: 700;
  font-size: 0.6em;
  color: #ECECEC;
}

.email, .submitForm {
  width: 100%;
  margin: 0 auto;
  display: block;
  box-sizing: border-box;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
}

.launchingSoon {
  display: block;
  padding: 1em 0em;
}
.launchingSoon .recruitmentImage {
  margin: 0em auto 0em auto;
  width: 60%;
  display: block;
}
.launchingSoon .centre-col {
  color: rgba(255, 255, 255, 0.66);
  text-align: center;
  font-family: "Roboto";
  font-size: 175%;
  margin: 0em auto 0em auto;
  font-weight: 800;
  filter: blur(0.05em);
}
.launchingSoon .services {
  display: none;
}

.info {
  background-color: white;
  padding: 1em 1em;
  text-align: center;
  font-family: "Nunito";
}
.info h2 {
  font-weight: 800;
  color: #595959;
}
.info h2 span {
  color: #483DB9;
}
.info p {
  font-weight: 700;
  color: #7867DE;
}

.footer {
  padding-bottom: 0.5em;
}
.footer .socialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0em 1em;
  margin: 1em auto 1em auto;
}
.footer .socialLinks img {
  height: 1.5em;
  padding: 0em 1em;
}
.footer .policyLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0em 1em;
  margin: 0em auto 1em auto;
  padding: auto;
  font-size: 0.6em;
  text-decoration: none;
  font-family: "Roboto";
}
.footer .policyLinks li {
  padding: 0em 1em 0em 1em;
}
.footer .policyLinks li a {
  color: white;
  text-decoration: none;
}

iframe {
  width: 100%;
  height: 300px;
}

nav {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em 1em 0 0;
  text-align: right;
  background-color: #20272E;
}
nav li {
  padding: 0.5em 0;
}
nav li a {
  font-family: "Roboto";
  font-size: 1.3em;
  text-decoration: none;
  color: white;
}

.buttonBlur {
  filter: blur(0.05em);
}

.button {
  filter: blur(0);
}
.button:hover {
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  body {
    height: 80vh;
  }
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar1 {
    padding-left: 10%;
  }
  .navbar1 nav {
    padding: 1em 10% 1em 1em;
    display: flex;
    justify-content: space-between;
    background: none;
    height: auto;
  }
  .navbar1 nav .primary-nav {
    margin: 0;
  }
  .navbar1 nav ul {
    display: flex;
  }
  .navbar1 nav a {
    font-size: 1em;
    padding-right: 3em;
  }
  .right-col-mobile {
    display: none;
  }
  .right-col-desktop {
    display: block;
    margin-top: 5em;
  }
  .main {
    margin-top: 2em;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
  }
  .main .subhead-desktop {
    display: block;
    color: #5E5E5E;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 0.8em;
  }
  .main .right-col {
    background-color: white;
    padding: 0.5em 0.5em 0.25em 0.5em;
    border-radius: 1em;
    box-shadow: 0.8em 1em 1.2em 0em rgba(0, 0, 0, 0.25);
  }
  .main .right-col .grid {
    display: block;
  }
  .main .right-col .fields {
    display: contents;
  }
  .main .right-col .fields .email {
    width: 15em;
    border-radius: 1em;
    background: #8C8BC6;
  }
  .main .right-col .fields .submitForm {
    width: 15em;
    border-radius: 1em;
    padding: 1em;
    background: linear-gradient(180deg, #6361D3 0%, #A061D3 100%);
  }
  .launchingSoon {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .launchingSoon div .recruitmentImage {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .launchingSoon .centre-col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .launchingSoon div .services {
    display: flex;
    width: 8em;
  }
  .info {
    padding-bottom: 5em;
  }
  .info .infoDescription {
    background: linear-gradient(180deg, #8976EF 0%, rgba(185, 116, 228, 0.71) 100%);
    margin: 0% 10% 2em 10%;
    padding: 2em 1em;
    border-radius: 2em;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
  }
  .info .infoDescription p {
    color: white;
  }
  .fku {
    display: table;
  }
  .info {
    display: table-footer-group;
  }
  .footer {
    display: table-header-group;
  }
}
@media only screen and (min-width: 1080px) {
  .navbar1 {
    padding-left: 20%;
  }
  .navbar1 nav {
    padding-right: 20%;
  }
  .main {
    padding-left: 20%;
    padding-right: 20%;
  }
  .launchingSoon {
    padding-left: 20%;
    padding-right: 20%;
  }
  .info .infoDescription {
    margin: 0% 20% 2em 20%;
  }
}
@media only screen and (max-height: 700px) {
  body {
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */